{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to my blog! I'm passionate about sharing my thoughts, experiences,
          and insights on various topics that matter to me. Through this platform,
          I aim to connect with readers and create meaningful conversations.
        </p>
        <p>
          Whether it's technology, lifestyle, personal growth, or creative projects,
          I believe in the power of storytelling and authentic expression. Each post
          is crafted with care and reflects my journey of learning and discovery.
        </p>
        <p>
          Thank you for visiting and being part of this community. I hope you find
          something here that resonates with you, sparks your curiosity, or simply
          brightens your day. Feel free to reach out and share your thoughts!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
