<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Ratings</title>
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <h1>Edit Rating for {{book_data.title.title()}}</h1>
    <p>Current Rating is {{book_data.rating}}/10</p>

    <form action="" method="post">
      <label>New Rating: </label>
      <input name="new_rating" type="text" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
